<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Maestro Music Player!</title>

	<!-- standard requirements -->

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- bootstrap css files -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style type="text/css">
		
	body {
	    background-image: url({{ url_for('static', filename='P4GfA.jpg') }});
	    background-size: cover;                  
	    background-repeat: no-repeat;
	    background-position: center;           
}

	a {
		text-decoration: none;
		color: white;
		font-weight: 400;
	}

	a:hover {
		color: white;
		text-decoration: none;
	}

	footer a {
		color: black;
	}

	footer a:hover {
		color: black;
	}

	footer {
		padding: 0 20px;
	}

	.navbar-header .navbar-brand {
		color: #FAEAE8;
	}


	</style>

</head>
<body>

<div class="container well">


 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('my_profile') }}"><strong>Maestro</strong></a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      {% if current_user.is_authenticated %}
      <li><a>Nice to see you <strong>{{ current_user.username }}</strong></a></li>
      {% endif %}
    </ul>

    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated == False %}
      <li><a href="{{ url_for('register')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      {% endif %}

      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('logout')}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      {% else %}
      <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="col-xs-12 col-md-8">
	<div class="search-box-main text-center">
		<br>
			<label><span class="glyphicon glyphicon-search"></span> Search:</label>
			<form method="POST" action="/search/" class="form" enctype = "multipart/form-data">{{ csrf_token }}
	    		<input class="form-search" type="text" name="query" value="" placeholder="Search">
	    		<button type="submit">Go!</button>
	    		<br>
				<br>
			</form>
	</div>
</div>


	<div class="col-md-7">

		{% block content %}
		{% endblock content %}
		<br>
		<br>
	</div>

	<div class="col-md-5">
		
		<h2>Last items added:</h2>
		<ul>
			<label>Album details: </label>
			<li id="last-album-added"></li>
			<br>
			<label>Song details: </label>
			<li id="last-song-added"></li>
		</ul>
	</div>


</div>
</div>

<br>
<br>
<footer>
	<center><p> <strong>Maestro Music Browser</strong> <br><small>&copy; <strong><a href="mailto:szymon.sitko@onet.eu">Szymon Sitko</a></strong></small> </p></center>
</footer> 

</div>
	<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>