{% extends 'base.html' %}

{% block content %}
	
<h1><strong>{{ album_query.artist }}</strong></h1>
<h3>{{ album_query.album_title }}</h3>
{{ album_query.genre }}
<br>
<p><strong>{{ album_query.release_date }}</strong></p>
<br>
<img src="{{ staticfiles }}/media/{{ album_query.album_logo }}" class="img-responsive">
<br>
<a href="{{ url_for('delete_album', album_id=album_query.id) }}"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"> </span> Remove this album</button></a>
<br>

{% if album_songs %}
<h4><strong>List of songs: </strong></h4>

{% for song in album_songs %}

<label>{{ song.song_title }}</label>

<br>
<audio controls>
  <source src="{{ staticfiles }}/media/songs/{{ song.audio_file }}" type="audio/ogg">
  <source src="{{ staticfiles }}/media/songs/{{ song.audio_file }}" type="audio/mpeg">
  <source src="{{ staticfiles }}/media/songs/{{ song.audio_file }}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<a href="{{ url_for('favorite_song', song_id=song.id) }}"><button class="btn btn-info pull-right">Love it!</button></a>
<a href="{{ url_for('delete_song', song_id=song.id) }}"><button class="btn btn-danger pull-right">Remove</button></a>

<br>

{% endfor %}
<br>
<a href="{{ url_for('create_song', album_id=media_id) }}"><button class="btn btn-warning"><span class="glyphicon glyphicon-plus"></span> Add another song</button></a>
{% else %}
<br>
<a href="{{ url_for('create_song', album_id=media_id) }}"><button class="btn btn-warning"><span class="glyphicon glyphicon-plus"></span> Add first song</button></a>
{% endif %}



{% endblock content %}



