{% extends 'base.html' %}

{% block content %}

{% if register_form %}

<h2>Please register</h2>

<form method="POST" action="" class="form">
{% for object in register_form %} {{ register_form.csrf_token }}
	
 	{{ object.label }}
 	<br>
 	{{ object }}
 	<br>
{% endfor %}
	<br>
	<button type="submit" id="submit">Register!</button>
</form>

{% elif login_form %}

<h2>Please login</h2>

<form method="POST" action="" class="form">
{% for object in login_form %} {{ login_form.csrf_token }}
	
 	{{ object.label }}
 	<br>
 	{{ object }}
 	<br>
{% endfor %}
	<br>
	<button type="submit" id="submit">Login</button>
</form>

<h4>If you are not user, <a href="{{ url_for('register') }}">register!</h4></a>

{% endif %}



{% if error_msg %}

{{ error_msg }}

{% endif %}






{% endblock content %}