{% extends 'base.html' %}

{% block content %}


		<a href="{{ url_for('create_album') }}">Add new album</a>


		{% for media in user_albums %}

		<p>{{ media.album_title }}</p>
		<p>{{ media.release_date }}</p>
		<br>
		<img src="{{ staticfiles }}/media/{{media.album_logo}}" class="img-rounded img-responsive">
		<br>
		<a href="{{ url_for('details', media_id=media.id) }}">Details</a>

			{% if media.is_favorite %}
			<p>You like it</p>
			{% else %}
			<p>You don't like it</p>
			<a href="{{ url_for('favorite_album', album_id=media.id) }}">Add to favorites</a>
			{% endif %}
			<br>


{% endfor %}
<br>
{% if error_msg %}
{{ error_msg }}
{% endif %}





{% endblock content %}