{% extends 'base.html' %}

{% block content %}

		{% for media in user_albums %}

		<h2><strong>{{ media.album_title }}</strong></h2>
		<p><strong>{{ media.release_date }}</strong></p>
		<br>
		<img src="{{ staticfiles }}/media/{{media.album_logo}}" class="img-rounded img-responsive">
		<br>
		<button class="btn btn-primary"><a href="{{ url_for('details', media_id=media.id) }}">Details</a></button>

			{% if media.is_favorite %}
			<p class="btn btn-danger"><span class="glyphicon glyphicon-heart"></span> You love this album</p>
			{% else %}
			<button class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span><a href="{{ url_for('favorite_album', album_id=media.id) }}">Add to favorites</a></button>
			{% endif %}
			<br>
{% endfor %}
<br>
{% if error_msg %}
{{ error_msg }}
{% endif %}
<br>
<button class="btn btn-info"><a href="{{ url_for('create_album') }}">Add new album</a></button>
{% endblock content %}