{% extends 'base.html' %}

{% block content %}

<div class="col-md-8">
		{% for media in user_albums %}

		<h2><strong>{{ media.album_title }}</strong></h2>
		<p><strong>{{ media.release_date }}</strong></p>
		<br>
		<img src="{{ staticfiles }}/media/{{media.album_logo}}" class="img-rounded img-responsive">
		<br>
		<a href="{{ url_for('details', media_id=media.id) }}"><button class="btn btn-primary">Details</button></a>

			{% if media.is_favorite %}
			<p class="btn btn-danger"><span class="glyphicon glyphicon-heart"></span> You love this album</p>
			{% else %}
			<a href="{{ url_for('favorite_album', album_id=media.id) }}"><button class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span>Add to favorites</button></a>
			{% endif %}
			<br>
{% endfor %}
<br>
{% if error_msg %}
{{ error_msg }}
{% endif %}
<br>
<a href="{{ url_for('create_album') }}"><button class="btn btn-info">Add new album</button></a>

</div>

	<div class="col-md-4"></div>

{% endblock content %}